@font-face
  font-family: 'Rustico'
  src: url('rustico.ttf')

.App 
  text-align: center
  text-transform: uppercase
  font-family: Rustico

  .landing
    background-color: #F2E6D6

    .App-logo 
      height: 25vmin
      margin: 3vmin
      position: absolute
      top: 0
      left: 0

    nav
      display: flex
      flex-direction: row
      align-items: center
      justify-content: flex-end
      color: #0D1433
      height: 25vmin

      a
        font-weight: bold
        color: #0D1433
        text-decoration: none
        margin-right: 3vmin
        font-size: calc(2vmin + 10px)

      .hidden
        display: none

    .uvodniText
      font-size: calc(3vmin + 10px)
      color: #E52F57
      font-weight: bold
      padding: 5vmin

    .seskupeni
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      position: relative

      p
        z-index: 2
        position: absolute
        margin: 0
        color: #7af48e
        font-weight: bold
        text-shadow: 5px 5px 5px black
        font-size: calc(5vmin + 10px)

      .datum
        margin-top: 120px
        font-size: calc(15vmin + 10px)

      .people
        width: 100%

  .info
    background-color: #0D1433
    height: 100vh

    p
      padding: 25px
      padding-top: 50px
      font-size: 25px
      margin: 0
      color: white
      font-weight: bold

    .cisla
      padding: 25px
      padding-top: 50px
      font-size: 25px
      margin: 0
      color: white
      font-weight: bold


